.all{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.header{
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: black;
    text-align: center;
    color: rgb(153, 11, 106);
    font-size: 4em;    
    position: sticky;
    width: 100%;
    height: max-content;
    top: 0;
    z-index: 1;
}

.layout{
    display: flex;
    margin-top: 1.5em;
    margin-left: 3em;
    margin-right: 4.5em;
    height: 31em;
    column-gap: 2.5em;
    
}

.histroy{
    min-width: 30%;
    border-radius: 30px;
}
/* giving a box shadow effect when mouse is hovered */
.histroy:hover{
    box-shadow: 0px 0px 15px 7px rgb(250, 123, 155);

}

.heading{
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid rgb(236, 12, 162);
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 20px;
    display: flex;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    color: rgb(193, 182, 253);
    justify-content: space-between;
}

.logs{
    border: 1px solid rgb(236, 12, 162);
    border-radius: 0px 0px 30px 30px;
    color: white;
    padding-left: 30px;
    padding-bottom: 30px;    
    width: 100%;
    height: 84%;
    overflow: auto;
    overflow-x: hidden;
}
/* to remove the scrollbars  */
.logs::-webkit-scrollbar{
    display: none;
}

.log{
    font-size: x-large;
    text-align: right;
    padding: 30px;
    height: fit-content;
}

.cldata{
    justify-self: center;
    align-self: center;
    border-radius: 30px 30px 30px 30px;
}

.btn-datadel{
    width: auto;
    border: none;
    background-color: rgb(0, 0, 0);
    border-radius: 20px 20px 20px 20px ;
    transition: background-color 0.3s ease;
    padding-top: 7px;
    color: white;
}

.calc{
    border: 1px solid rgb(236, 12, 162);
    border-radius: 20px ;
    min-width: 70%;
}
/* giving a box shadow effect when mouse is hovered */
.calc:hover{
    box-shadow: 0px 0px 15px 7px rgb(250, 123, 155);
}

.screen{
    background-color: white;
    max-height: 2.5em;
    font-size: 30px;
    font-weight: 700;
    margin: 35px 25px 30px 25px;
    padding: 15px;
    text-align: right;
    border-radius: 16px;
    overflow: auto;
    overflow-y: hidden;
}
/* to remove the scrollbars  */
.screen::-webkit-scrollbar{
    display: none;
}

.div1{
    display: flex;
}

.styling{
    display: flex;
    justify-content: space-evenly;
    column-gap: 1.6em;
}

.operations{
    width: 100%;
    padding: 20px;
}

.btn{
    width: 130px;
}